@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 42px;
  margin: 40px auto 0px;
}

h2 {
margin-bottom: 40px;
font-size: 16px;
}

.flex-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

[data-row] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column-reverse;
  height: 180px;
  width: 45px;
  margin: 50px;
}

[data-row],
[data-color] {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.row {
  z-index: -10;
}

[data-row].grey {
  background-image: url(img/tower-grey.png);
}

[data-row].silver {
  background-image: url(img/tower-silver.png);
}

.stone {
  z-index: 10;
}

[data-color] {
  height: 30px;
  border-radius: 3px;
}

[data-color="red"] {
  height: 20px;
  width: 80px;
  background-image: url(img/ring-red.png);
}

[data-color="orange"] {
  height: 23px;
  width: 92px;
  background-image: url(img/ring-orange.png);
}

[data-color="green"] {
  height: 26px;
  width: 104px;
  background-image: url(img/ring-green.png);
}

[data-color="blue"] {
  height: 29px;
  width: 116px;
  background-image: url(img/ring-blue.png);
}

#announce-game-won {
  font-size: 32px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  max-width: 600px;
  margin: 30px auto;
  font-size: 18px;
}

ul {
  list-style: none;
}

.reset-button {
	position: relative;
	display: inline-block;
	padding: 5px;
	background-color: silver;
	background-image: linear-gradient(lightgrey, silver);
  border: 1px solid;
  border-radius: 3px;
  margin-bottom: 10px;
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 100;
}

.reset-button:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}